pdf-viewer {
    display: block;
    height: 100vh;
  }

/* table{
  width: 100%;
*/

.mat-cell-price{
  text-align: right;
  justify-content: flex-end;
}

.mat-column-gridSelected {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30px !important;
  width: 30px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-gridArticleNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 80px !important;
  width: 80px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-gridDescription {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 200px !important;
  width: 200px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-gridSize {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-gridPrice {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60px !important;
  width: 60px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  
  text-align: right;
  justify-content: flex-end;
}

.mat-column-drainSelected {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30px !important;
  width: 30px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-drainArticleNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 80px !important;
  width: 80px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-drainDescription {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 200px !important;
  width: 200px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-drainDrainDiameter {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-drainPrice {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60px !important;
  width: 60px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: right;
  justify-content: flex-end;
}

.mat-column-otherSelected {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30px !important;
  width: 30px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-otherArticleNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 80px !important;
  width: 80px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-otherDescription {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 300px !important;
  width: 300px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-otherPrice {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60px !important;
  width: 60px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: right;
  justify-content: flex-end;
}

.mat-column-profileSelected {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30px !important;
  width: 30px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-profileArticleNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 80px !important;
  width: 80px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-profileDescription {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 240px !important;
  width: 240px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-profilePrice {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60px !important;
  width: 60px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: right;
  justify-content: flex-end;
}

.mat-column-profileLength {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60px !important;
  width: 60px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: right;
  justify-content: flex-end;
}

.mat-column-orderArticleNumber {
  text-align: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-orderDescription {
  text-align: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 320px !important;
  width: 320px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-orderSize {
  text-align: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
   overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: right;
  justify-content: flex-end;
}

.mat-column-orderPrice {
  text-align: right;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 65px !important;
  width: 65px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: right;
  justify-content: flex-end;
}

.linkLabel {
  color:blue;
  text-decoration: underline;
}

.linkLabel:hover {
  color: coral;
  text-decoration: underline;
}

.linkLabelVisited {
  color:rgba(162, 0, 255, 0.781);
  text-decoration: underline;
}

div.scrollable {
  width: 100%;
  max-height: 300px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  vertical-align: top;
}