<div>
<button id="back" (click)="backClicked()">Torna alla lista</button>
<table>
    <tr>
        <td>
            <div style='flex: 0 0 650px; ; text-align: center;'>
                <b>ELEMENTI AGGIUNTIVI DELL'ORDINE</b>
            </div>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div *ngIf="missingMandatories" style='color: red;'>
                <span>
                    <i>Obbligatori per completare l'ordine</i>
                </span>
            </div>
            <div *ngIf="!missingMandatories" style='color: black;' >
                <span>
                    <i>Obbligatori per completare l'ordine</i>
                </span>
            </div>
            <table style="table-layout: fixed">
                <tr>
                    <th style='vertical-align: top; text-align: left; flex: 0 0 120px;' width='120px'>
                        Tipo
                    </th>
                    <th style='vertical-align: top; text-align: left; flex: 0 0 580px;' width='580px'>
                        Dettagli
                    </th>
                </tr>
                <tr *ngIf="drainMandatory">
                    <td [ngClass]="{'linkLabel': noDrains, 'linkLabelVisited': !noDrains}"
                        (click)="toggleDrains()" style='vertical-align: top;'>
                        Scarico
                    </td>
                    <td>
                        <div *ngIf="showDrains" class="scrollable">
                            <mat-table [dataSource]="dataSourceDrains" >
                                <ng-container matColumnDef="drainSelected">
                                    <mat-header-cell *matHeaderCellDef>☐</mat-header-cell>
                                    <mat-cell *matCellDef="let drain">
                                        <mat-checkbox [(ngModel)]="drain.selected" [checked]="drain.selected"
                                                    (change)="selectDrain(drain.articleNumber)"></mat-checkbox>  
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="drainArticleNumber">
                                    <mat-header-cell *matHeaderCellDef>Articolo</mat-header-cell>
                                    <mat-cell *matCellDef="let drain">{{drain.articleNumber}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="drainDescription">
                                    <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
                                    <mat-cell *matCellDef="let drain">{{drain.description}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="drainDrainDiameter">
                                    <mat-header-cell *matHeaderCellDef>Diametro</mat-header-cell>
                                    <mat-cell *matCellDef="let drain">{{drain.drainDiameter}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="drainPrice">
                                    <mat-header-cell *matHeaderCellDef>Prezzo</mat-header-cell>
                                    <mat-cell *matCellDef="let drain">{{drain.price | number : '1.2-2'}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="getDrainDisplayedColumns()"></mat-header-row>
                                <mat-row *matRowDef="let drain; columns: getDrainDisplayedColumns()"></mat-row>
                            </mat-table>
                        </div>
                        <div *ngIf="!showDrains"
                             [ngClass]="{'linkLabel': noDrains, 'linkLabelVisited': !noDrains}"
                             (click)="toggleDrains()" >
                            espandi sezione
                        </div>
                    </td>
                </tr>
                <tr *ngIf="gridsMandatory">
                    <td [ngClass]="{'linkLabel': noGrids, 'linkLabelVisited': !noGrids}"
                        (click)="toggleGrids()" style='vertical-align: top;'>
                        Griglie
                    </td>
                    <td>
                        <div *ngIf="showGrids"  class="scrollable">
                            <mat-table [dataSource]="dataSourceGrids" >
                                <ng-container matColumnDef="gridSelected">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridSelect'>☐</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">
                                        <mat-checkbox [(ngModel)]="grid.selected" [checked]="grid.selected"
                                                    (change)="selectGrid(grid.articleNumber)"></mat-checkbox>  
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridArticleNumber">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridArticleNumber'>Articolo</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.articleNumber }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridDescription">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridDescription'>Descrizione</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.description }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridTrayType">
                                    <mat-header-cell *matHeaderCellDef>trayType</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.trayType }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridSize">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridSize'>Dimensioni</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">
                                        {{ grid.length }} x {{ grid.width }} x  {{ grid.thickness }} mm
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridPrice">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridPrice'>Prezzo</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.price | number : '1.2-2' }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridWidth">
                                    <mat-header-cell *matHeaderCellDef>Larg</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{grid.width}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridLength">
                                    <mat-header-cell *matHeaderCellDef>Lung</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{grid.length}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridThickness">
                                    <mat-header-cell *matHeaderCellDef>Spes</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{grid.thickness}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="getGridDisplayedColumns()"></mat-header-row>
                                <mat-row *matRowDef="let grid; columns: getGridDisplayedColumns()"></mat-row>
                            </mat-table>
                        </div>
                        <div *ngIf="!showGrids" [ngClass]="{'linkLabel': noGrids, 'linkLabelVisited': !noGrids}"
                             (click)="toggleGrids()">
                            espandi sezione
                        </div>
                    </td>
                </tr>
            </table>
            <br><br>
            <span>
                <i>Altri elementi opzionali per l'ordine</i>
            </span>
            <table style="table-layout: fixed">
                <tr>
                    <th style='vertical-align: top; text-align: left; flex: 0 0 120px;' width='120px'>
                        Tipo
                    </th>
                    <th style='vertical-align: top; text-align: left; flex: 0 0 580px;' width='580px'>
                        Dettagli
                    </th>
                </tr>
                <tr *ngIf="!gridsMandatory">
                    <td class="linkLabel" (click)="toggleGrids()" style='vertical-align: top;'>
                        Griglie
                    </td>
                    <td>
                        <div *ngIf="showGrids"  class="scrollable">
                            <mat-table [dataSource]="dataSourceGrids" >
                                <ng-container matColumnDef="gridSelected">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridSelect'>☐</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">
                                        <mat-checkbox [(ngModel)]="grid.selected" [checked]="grid.selected"
                                                    (change)="selectGrid(grid.articleNumber)"></mat-checkbox>  
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridArticleNumber">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridArticleNumber'>Articolo</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.articleNumber }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridDescription">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridDescription'>Descrizione</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.description }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridTrayType">
                                    <mat-header-cell *matHeaderCellDef>trayType</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.trayType }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridSize">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridSize'>Dimensioni</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">
                                        {{ grid.length }} x {{ grid.width }} x {{ grid.thickness }} mm
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridPrice">
                                    <mat-header-cell *matHeaderCellDef class='mat-column-gridPrice'>Prezzo</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{ grid.price | number : '1.2-2' }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridWidth">
                                    <mat-header-cell *matHeaderCellDef>Larg</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{grid.width}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridLength">
                                    <mat-header-cell *matHeaderCellDef>Lung</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{grid.length}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="gridThickness">
                                    <mat-header-cell *matHeaderCellDef>Spes</mat-header-cell>
                                    <mat-cell *matCellDef="let grid">{{grid.thickness}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="getGridDisplayedColumns()"></mat-header-row>
                                <mat-row *matRowDef="let grid; columns: getGridDisplayedColumns()"></mat-row>
                            </mat-table>
                        </div>
                        <div *ngIf="!showGrids" class="linkLabel" (click)="toggleGrids()">
                            espandi sezione
                        </div>
                    </td>
                </tr>
                <tr *ngIf="storage.tray.trayType=='L'">
                    <td class="linkLabel" (click)="toggleProfiles()" style='vertical-align: top;'>
                        Profili
                    </td>
                    <td>
                        <div *ngIf="showProfiles" class="scrollable">
                            <mat-table [dataSource]="dataSourceProfiles" >
                                <ng-container matColumnDef="profileSelected">
                                    <mat-header-cell *matHeaderCellDef>☐</mat-header-cell>
                                    <mat-cell *matCellDef="let profile">
                                        <mat-checkbox [(ngModel)]="profile.selected" [checked]="profile.selected"
                                                    (change)="selectProfiles(profile.articleNumber)"></mat-checkbox>  
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="profileArticleNumber">
                                    <mat-header-cell *matHeaderCellDef>Articolo</mat-header-cell>
                                    <mat-cell *matCellDef="let profile">{{profile.articleNumber}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="profileDescription">
                                    <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
                                    <mat-cell *matCellDef="let profile">{{profile.description}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="profileLength">
                                    <mat-header-cell *matHeaderCellDef>Lung</mat-header-cell>
                                    <mat-cell *matCellDef="let profile">{{profile.length}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="profilePrice">
                                    <mat-header-cell *matHeaderCellDef>Prezzo</mat-header-cell>
                                    <mat-cell *matCellDef="let profile">{{profile.price | number : '1.2-2'}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="getProfilesDisplayedColumns()"></mat-header-row>
                                <mat-row *matRowDef="let profile; columns: getProfilesDisplayedColumns()"></mat-row>
                            </mat-table>
                        </div>
                        <div *ngIf="!showProfiles " class="linkLabel" (click)="toggleProfiles()" >
                            espandi sezione
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="linkLabel" (click)="toggleOtherParts()" style='vertical-align: top;'>
                        Altro
                    </td>
                    <td>
                        <div *ngIf="showOtherParts" class="scrollable">
                            <mat-table [dataSource]="dataSourceOtherParts" >
                                <ng-container matColumnDef="otherSelected">
                                    <mat-header-cell *matHeaderCellDef>☐</mat-header-cell>
                                    <mat-cell *matCellDef="let part">
                                        <mat-checkbox [(ngModel)]="part.selected" [checked]="part.selected"
                                                    (change)="selectOtherParts(part.articleNumber)"></mat-checkbox>  
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="otherArticleNumber">
                                    <mat-header-cell *matHeaderCellDef>Articolo</mat-header-cell>
                                    <mat-cell *matCellDef="let part">{{part.articleNumber}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="otherDescription">
                                    <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
                                    <mat-cell *matCellDef="let part">{{part.description}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="otherPrice">
                                    <mat-header-cell *matHeaderCellDef>Prezzo</mat-header-cell>
                                    <mat-cell *matCellDef="let part">{{part.price | number : '1.2-2'}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="getOtherPartsDisplayedColumns()"></mat-header-row>
                                <mat-row *matRowDef="let part; columns: getOtherPartsDisplayedColumns()"></mat-row>
                            </mat-table>
                        </div>
                        <div *ngIf="!showOtherParts" class="linkLabel" (click)="toggleOtherParts()">
                            espandi sezione
                        </div>
                    </td>
                </tr>            
            </table>
            <hr style='height:4px;border-width:0;background-color:#888888;color: #888888;'>
            <br>
            <div style='vertical-align: top; text-align: center;'>
                <b>COMPOSIZIONE PROPOSTA</b>
            </div>
            <table>
                <tr>
                    <td style='vertical-align: top; text-align: center; flex: 0 0 500px' width='500px'>
                        <div style='text-align: center;'>
                            <mat-table [dataSource]="datasourceOrder" >
                                <ng-container matColumnDef="orderArticleNumber">
                                    <mat-header-cell *matHeaderCellDef>Articolo</mat-header-cell>
                                    <mat-cell *matCellDef="let item">{{item.articleNumber}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="orderDescription">
                                    <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
                                    <mat-cell *matCellDef="let item">{{item.description}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="orderSize">
                                    <mat-header-cell *matHeaderCellDef>Dimensioni</mat-header-cell>
                                    <mat-cell *matCellDef="let item">{{item.size}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="orderPrice">
                                    <mat-header-cell *matHeaderCellDef>Prezzo</mat-header-cell>
                                    <mat-cell *matCellDef="let item">{{item.price | number : '1.2-2'}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="getOrderDisplayedColumns()"></mat-header-row>
                                <mat-row *matRowDef="let item; columns: getOrderDisplayedColumns()"></mat-row>
                            </mat-table>
                        </div>
                    </td>
                    <td style='vertical-align: top; text-align: center; flex: 0 0 200px' width='200px'>
                        <div *ngIf="!missingMandatories">
                            <br>
                            <mat-form-field appearance="legacy">
                                <mat-label>Tipo file</mat-label>
                                <mat-select [(ngModel)]="fileType">
                                    <div *ngFor="let item of fileTypes;" >
                                        <mat-option [value]="item.id" [disabled]="item.disabled" >{{ item.des }}</mat-option>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Riferimento ordine</mat-label>
                                <input 
                                    matInput
                                    placeholder="riferimento riportato"
                                    [(ngModel)]="orderRef"
                                />
                            </mat-form-field>      
                            <br>
                            <button mat-raised-button color="primary" 
                                    id="saveOrder" (click)="saveOrder()">
                                Scarica proposta
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td style='width: 20px;'></td>
        <td style='vertical-align: top; border-left: thick solid #888888;'>
            <table>
                <tr>
                    <th width='60px'></th>
                    <th width='440px'></th>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <b>Piatto doccia articolo {{ storage.tray.articleNumber }}</b>
                        <br><br>
                        Misure originali richieste {{ storage.searchCriteria.wMin }} x {{ storage.searchCriteria.lMin }}mm
                        <div *ngIf="storage.tray.drainType == 'I'">
                            <br>
                            <span style='color: blue;'>
                                I piatti doccia con scarico integrato includono già la griglia
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Taglio
                    </td>
                    <td>
                        <img [src]="imgPath" alt="image not found" 
                                title="Cliccare per scaricare la documentazione tecnica" 
                                height="330" width="420" 
                                (click)="downloadDocs()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Dettagli
                    </td>
                    <td>
                        <ul>
                            <li>{{ storage.tray.description }}</li>
                            <li>{{ size }}</li>
                        </ul>
                        <br>
                        <span style='color: blue;' (click)="downloadDocs()">
                            Cliccare sull'immagine per scaricare la documentazione tecnica
                        </span>
                    </td>
                </tr>
            </table>
    </tr>
</table>
</div>