<div>
  <table width="100%">
    <tr>
      <td width="30%" valign="top">
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td>Tipo scarico:</td>
                  <td>
                    <mat-radio-group
                      [(ngModel)]="trayTypeRadioButton"
                      labelPosition="after"
                      (change)="onChange($event)"
                      name="trayType"
                    >
                      <mat-radio-button *ngFor="let op of trayTypeOptions" [value]="op.name">
                        {{ op.label }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </td>
                </tr>
                <tr>
                  <td colspan=2>
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td>Altezza utile massetto:</td>
                  <td>
                    <mat-radio-group
                      [(ngModel)]="screedHeightRadioButton"
                      labelPosition="after"
                      (change)="onChange($event)"
                      name="screedHeigth"
                    >
                      <mat-radio-button *ngFor="let op of screedHeightOptions" [value]="op.name">
                        {{ op.label }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </td>
                </tr>
                <tr>
                  <td colspan=2>
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td>Dimensioni:</td>
                  <td>
                    <mat-form-field>
                      <mat-label>{{ sizeLabel.width }} <b>(mm)</b> </mat-label>
                        <!--
                        [formControl]="matWidth"
                        -->
                      <input
                        #trayWidthField
                        matInput
                        (change)="onWidthChange()"
                        [(ngModel)]="searchCriteria.wMin"
                      />
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                      <mat-label>{{ sizeLabel.length }} <b>(mm)</b> </mat-label>
                        <!--
                        [formControl]="matLength"
                        -->
                      <input
                        #trayLengthField
                        matInput
                        (change)="onLengthChange()"
                        [(ngModel)]="searchCriteria.lMin"
                      />
                    </mat-form-field>
                  </td>
                </tr>
                <tr *ngIf="!disableProfilesChoice">
                  <td>Rivestimento:</td>
                  <td>
                    <mat-form-field>
                      <mat-label>Spessore (tra 5.5 e 10 <b>mm</b>) </mat-label>
                        <!--
                        [formControl]="tileHeight"
                        -->
                      <input
                        #tileHeightField
                        matInput
                        placeholder="Solo ceramica no colla"
                        (change)="onTileThickChange()"
                        [(ngModel)]="searchCriteria.profiles.tileHeight"
                      />
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td></td>
                  <td style="text-align: center">
                    <mat-radio-group
                      name="profilesNorth"
                      labelPosition="after"
                      [(ngModel)]="searchCriteria.profiles.north"
                      [disabled]="disableProfilesChoice"
                    >
                      <mat-radio-button value="wall" checked>Muro</mat-radio-button>
                      <br>
                      <mat-radio-button value="floor">Pavimento</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <mat-radio-group
                      name="profilesWest"
                      labelPosition="after"
                      [(ngModel)]="searchCriteria.profiles.west"
                      [disabled]="disableProfilesChoice"
                    >
                      <mat-radio-button value="wall" checked>Muro</mat-radio-button>
                      <br>
                      <mat-radio-button value="floor">Pavimento</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <td>
                    <app-trays
                      [showDrain]="showDrain"
                      [trayWidth]="searchCriteria.wMin"
                      [trayLength]="searchCriteria.lMin"
                    ></app-trays>
                  </td>
                  <td>
                    <mat-radio-group
                      name="profilesEst"
                      labelPosition="after"
                      [(ngModel)]="searchCriteria.profiles.est"
                      [disabled]="disableProfilesChoice"
                    >
                      <mat-radio-button value="wall">Muro</mat-radio-button>
                      <br>
                      <mat-radio-button value="floor" checked>Pavimento</mat-radio-button>
                    </mat-radio-group>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <div id="products">
                <div ng-view class="view-frame"></div>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td width="65%" valign="top">
        <table width="100%">
          <tr>
            <td>
              <button id="search" (click)="doSearch()">
                {{ searchCaption }}
              </button>
              <button *ngIf="searchPerformed" id="nuovo" (click)="doNew()">
                Nuova ricerca
              </button>
            </td>
            <td>
              <div *ngIf="dataSource.data.length > 0" style="color: blue;">
                Cliccare sul risultato prescelto per vederne i dettagli
              </div>
              <div *ngIf="dataSource.data.length == 0 && searchPerformed" style="color: red;">
                Nessun piatto soddisfa i requisiti richiesti. Cambiarli se possibile o contaatare
                <br>
                il supporto tecnico di wedi allo 039 245 9420 per eventuali altre soluzioni
              </div>
            </td>
          </tr>
          <tr>
            <td colspan=2>
              <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="articleNumber">
                  <mat-header-cell *matHeaderCellDef>Articolo</mat-header-cell>
                  <mat-cell *matCellDef="let tray">{{ tray.articleNumber }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
                  <mat-cell *matCellDef="let tray">{{ tray.description }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="trayType">
                  <mat-header-cell *matHeaderCellDef>P/L</mat-header-cell>
                  <mat-cell *matCellDef="let tray">{{ tray.trayType }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="drainType">
                  <mat-header-cell *matHeaderCellDef>I/E</mat-header-cell>
                  <mat-cell *matCellDef="let tray">{{ tray.drainType }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="size">
                  <mat-header-cell *matHeaderCellDef>Dimensioni</mat-header-cell>
                  <mat-cell *matCellDef="let tray">
                    {{ tray.length }} x {{ tray.width }} x {{ tray.thickness }}mm
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="width">
                  <mat-header-cell *matHeaderCellDef>Larg</mat-header-cell>
                  <mat-cell *matCellDef="let tray">{{ tray.width }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="length">
                  <mat-header-cell *matHeaderCellDef>Lung</mat-header-cell>
                  <mat-cell *matCellDef="let tray">{{ tray.length }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="thickness">
                  <mat-header-cell *matHeaderCellDef>Spes</mat-header-cell>
                  <mat-cell *matCellDef="let tray">{{ tray.thickness }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef>Prezzo</mat-header-cell>
                  <mat-cell *matCellDef="let tray">
                    {{ tray.price | number: "1.2-2" }}
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="getDisplayedColumns()"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: getDisplayedColumns()"
                  (click)="openArticle(row)"
                ></mat-row>
              </mat-table>
            </td>            
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
