<!--

<table>
    <tr>
        <td colspan="3" style='text-align: center'>
            <p style='text-align: center; font-weight:bold'>
                FILTRI DI RICERCA
                &nbsp;
                <a href="javascript: void(0);" (click)="applyFilters()">Applica</a>
                &nbsp;
                <a href="javascript: void(0);" (click)="cancelFilters()">Cancella</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field appearance="fill" [style.width.px]=400>
                <mat-label>email: </mat-label>
                <input matInput
                        id="searchFilterCustomer"
                        [(ngModel)]="additionalSearchFilter.email"
                        maxlength="50"
                        type="text" style='font-size: small;' 
                        placeholder="email">
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=40>
                <mat-label>Stato: </mat-label>
                <input matInput
                        id="searchFilterActive"
                        [(ngModel)]="additionalSearchFilter.active"
                        maxlength="1"
                        type="text" style='font-size: small;'
                        placeholder="Stato">
            </mat-form-field>            
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=200>
                <mat-label>Da data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterFromDate" 
                    [(ngModel)]="additionalSearchFilter.fromDate"
                    placeholder="Da data">
                    <mat-datepicker-toggle matSuffix [for]="searchFilterFromDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterFromDate></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=200>
                <mat-label>A data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterToDate" 
                    [(ngModel)]="additionalSearchFilter.toDate"
                    placeholder="A data"> 
                <mat-datepicker-toggle matSuffix [for]="searchFilterToDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterToDate></mat-datepicker>
            </mat-form-field>                
        </td>
        <td>
            <mat-form-field appearance="fill" [style.width.px]=200>
                <mat-label>Da data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterSessionFromDate" 
                    [(ngModel)]="additionalSearchFilter.sessionFromDate"
                    placeholder="Da data">
                    <mat-datepicker-toggle matSuffix [for]="searchFilterFromDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterFromDate></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=200>
                <mat-label>A data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterSessionToDate" 
                    [(ngModel)]="additionalSearchFilter.sessionToDate"
                    placeholder="A data"> 
                <mat-datepicker-toggle matSuffix [for]="searchFilterToDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterToDate></mat-datepicker>
            </mat-form-field>                
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
</table>
-->

<table style="width: 100%;">
    <tr>
        <td colspan="3" style='text-align: center'>
            <p style='text-align: center; font-weight:bold'>
                FILTRI DI RICERCA
                &nbsp;
                <a href="javascript: void(0);" (click)="applyFilters()">Applica</a>
                &nbsp;
                <a href="javascript: void(0);" (click)="cancelFilters()">Cancella</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field appearance="fill" [style.width.px]=400>
                <mat-label>email: </mat-label>
                <input matInput
                        id="searchFilterCustomer"
                        [(ngModel)]="additionalSearchFilter.email"
                        maxlength="50"
                        type="text" style='font-size: small;' 
                        placeholder="email">
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=40>
                <mat-label>Stato: </mat-label>
                <input matInput
                        id="searchFilterActive"
                        [(ngModel)]="additionalSearchFilter.active"
                        maxlength="1"
                        type="text" style='font-size: small;'
                        placeholder="Stato">
            </mat-form-field>            
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=170>
                <mat-label>Da data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterFromDate" 
                    [(ngModel)]="additionalSearchFilter.fromDate"
                    placeholder="Da data">
                    <mat-datepicker-toggle matSuffix [for]="searchFilterFromDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterFromDate></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=170>
                <mat-label>A data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterToDate" 
                    [(ngModel)]="additionalSearchFilter.toDate"
                    placeholder="A data"> 
                <mat-datepicker-toggle matSuffix [for]="searchFilterToDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterToDate></mat-datepicker>
            </mat-form-field>                
        </td>
        <td>
            <mat-form-field appearance="fill" [style.width.px]=170>
                <mat-label>Da data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterSessionFromDate" 
                    [(ngModel)]="additionalSearchFilter.sessionFromDate"
                    placeholder="Da data">
                    <mat-datepicker-toggle matSuffix [for]="searchFilterSessionFromDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterSessionFromDate></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" [style.width.px]=170>
                <mat-label>A data: </mat-label>
                <input matInput 
                    [matDatepicker]="searchFilterSessionToDate" 
                    [(ngModel)]="additionalSearchFilter.sessionToDate"
                    placeholder="A data"> 
                <mat-datepicker-toggle matSuffix [for]="searchFilterSessionToDate"></mat-datepicker-toggle>
                <mat-datepicker #searchFilterSessionToDate></mat-datepicker>
            </mat-form-field>                
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <th style="vertical-align: top; width: 50%; text-align: center;">Utente</th>
        <th style="vertical-align: top; width: 20%; text-align: center;">Data</th>
        <th style="vertical-align: top; width: 30%; text-align: center;">Ricerca</th>
    </tr>
    <tr >
        <td style="vertical-align: top; width: 50%; border-right: 1px solid red; ">
            <mat-table [dataSource]="usersDS" matSort >
                <ng-container matColumnDef="connectedOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{ user.connectedOn | date: 'dd/MM/yy' }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cognome</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{ user.lastName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{ user.firstName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="organization">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>P/L</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{ user.organization }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mail</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
                </ng-container>        
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef>St.</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{ (user.active ? "A" : "I") }}</mat-cell>
                </ng-container>        
                <mat-header-row *matHeaderRowDef="getDisplayedColumns('users')"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: getDisplayedColumns('users')"
                    (click)="userSession(row)">
                </mat-row>
            </mat-table>
        </td>
        <td style="vertical-align: top; width: 20%; border-right: 1px solid red; ">
            <div style="overflow-y: auto">
                <mat-table [dataSource]="sessionDS">
                    <ng-container matColumnDef="timestamp">
                        <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                        <mat-cell *matCellDef="let session">{{ session.timestamp | date: 'dd/MM/yyyy hh:MM' }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="empty">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let session">&nbsp;</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ipAddress">
                        <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
                        <mat-cell *matCellDef="let session">{{ session.ipAddress }}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="getDisplayedColumns('sessions')"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: getDisplayedColumns('sessions')"
                        (click)="sessionQueries(row)"></mat-row>
                </mat-table>
            </div>
        </td>
        <td style="vertical-align: top; width: 30%;">
            <mat-table [dataSource]="queriesDS">
                <ng-container matColumnDef="trayType">
                    <mat-header-cell *matHeaderCellDef>T</mat-header-cell>
                    <mat-cell *matCellDef="let query">{{ query.trayType }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="screedThickness">
                    <mat-header-cell *matHeaderCellDef>I/E</mat-header-cell>
                    <mat-cell *matCellDef="let query">{{ (query.screedThickness == 200 ? "EXT" : "INT") }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="size">
                    <mat-header-cell *matHeaderCellDef>Dimensioni</mat-header-cell>
                    <mat-cell *matCellDef="let query">{{ query.wMin }} x {{ query.lMin }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tileHeight">
                    <mat-header-cell *matHeaderCellDef>Riv.</mat-header-cell>
                    <mat-cell *matCellDef="let query">
                        <div *ngIf="query.profiles.tileHeight!=0">
                            {{ query.profiles.tileHeight }} mm
                        </div>
                        <div *ngIf="query.profiles.tileHeight==0">
                            &nbsp;
                        </div>
                    </mat-cell>
                </ng-container>        
                <ng-container matColumnDef="profiles">
                    <mat-header-cell *matHeaderCellDef>Profili</mat-header-cell>
                    <mat-cell *matCellDef="let query">Destra {{ query.profiles.est }} - Sinistra {{ query.profiles.west }} - Testa {{ query.profiles.north }}</mat-cell>
                </ng-container>        
                <mat-header-row *matHeaderRowDef="getDisplayedColumns('queries')"></mat-header-row>
                <mat-row *matRowDef="let row; columns: getDisplayedColumns('queries')"></mat-row>
            </mat-table>
        </td>
    </tr>
</table>
